{% extends "base.html" %}

{% block title %}List Plot Objects{% endblock %}

{% block content %}
<div class="container">
    <h1>
        Plots
    </h1>
    <p>
        Lorem ipsum odor amet, consectetuer adipiscing elit. Platea erat est sem vitae odio cras malesuada conubia consectetur. Ipsum sit fusce faucibus malesuada aliquam eu mollis. Senectus nulla facilisis metus feugiat augue. Quam taciti eleifend litora volutpat eu placerat iaculis nulla. Felis fames quis ligula congue potenti conubia. Faucibus pretium egestas maximus vestibulum finibus vivamus leo. Metus turpis sodales facilisi vehicula primis. Nisi torquent quis lectus urna nam finibus per.
    </p>
    <div class="container-fluid">
        <img src="https://picsum.photos/600/300" class="img-fluid">
    </div>
    <img >
    <p>    
        Posuere felis pellentesque nostra odio tellus sit. Lacinia mattis molestie metus nostra; ad ac varius fermentum. Sagittis hendrerit senectus justo vestibulum pharetra pulvinar lacinia. Facilisi suscipit euismod vehicula senectus arcu, faucibus ac. Accumsan tellus a, cras dictum ullamcorper nam ornare fermentum. Montes rutrum vehicula augue nulla cras vulputate. Dui rhoncus per fames himenaeos faucibus; ligula interdum dui. Facilisis aliquet commodo felis mattis; facilisis blandit? Amet phasellus parturient auctor euismod egestas pharetra.
    </p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Filter Plots</button>
    <!-- </form> -->
    {% if plots %}
    <div class="container-fluid">
        <button class="btn btn-outline-dark float-end" type="submit" name="export">
            Export Plot List
            <i class="fa-solid fa-download"></i>
        </button>
    </div>
    <table class="table table-hover" id="table-theme">
        <thead>
            <tr draggable="true">
                <th>Plot ID</th>
                <th>Plot Name</th>
                <th>Trial Name</th>
                <th>Plot Type</th>
                <th>Block</th>
                <th>Row-Column</th>
                <th>Parent Plot</th>
            </tr>
        </thead>
        <tbody>
            {% for plot in plots %}
            <tr>
                <td>{{ plot.db_id }}</td>
                <td>{{ plot.label }}</td>
                <td>{{ plot.trial_id.name }}</td>
                <td>{{ plot.type }}</td>
                <td>{{ plot.block }}</td>
                <td>{{ plot.row }}-{{ plot.column }}</td>
                <td>{{ plot.parent_plot_id }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="container-fluid">
        <button class="btn btn-outline-dark float-end" type="submit" name="export">
            Export Plot List
            <i class="fa-solid fa-download"></i>
        </button>
    </div>
    {% include "paginator.html" with page=plots%}
    {% else %}
    <p>No plots available for the selected trials.</p>
{% endif %}
    </form>
</div>
{% endblock %}
