{% extends "base.html" %}

{% block title %}List Trials{% endblock %}

{% block content %}
<div class="container">
    <h1>
        Field Trials
    </h1>
    <p>
        Lorem ipsum odor amet, consectetuer adipiscing elit. Platea erat est sem vitae odio cras malesuada conubia consectetur. Ipsum sit fusce faucibus malesuada aliquam eu mollis. Senectus nulla facilisis metus feugiat augue. Quam taciti eleifend litora volutpat eu placerat iaculis nulla. Felis fames quis ligula congue potenti conubia. Faucibus pretium egestas maximus vestibulum finibus vivamus leo. Metus turpis sodales facilisi vehicula primis. Nisi torquent quis lectus urna nam finibus per.
    </p>
    <div class="container-fluid">
        <img src="https://picsum.photos/600/300" class="img-fluid">
    </div>
    <img >
    <p>    
        Posuere felis pellentesque nostra odio tellus sit. Lacinia mattis molestie metus nostra; ad ac varius fermentum. Sagittis hendrerit senectus justo vestibulum pharetra pulvinar lacinia. Facilisi suscipit euismod vehicula senectus arcu, faucibus ac. Accumsan tellus a, cras dictum ullamcorper nam ornare fermentum. Montes rutrum vehicula augue nulla cras vulputate. Dui rhoncus per fames himenaeos faucibus; ligula interdum dui. Facilisis aliquet commodo felis mattis; facilisis blandit? Amet phasellus parturient auctor euismod egestas pharetra.
    </p>
    <table class="table table-hover" id="table-theme">
        <thead>
            <tr>
                <th>Trial Name</th>
                <th>Location</th>
                <th>Manager</th>
                <th>Affiliation</th>
                <th>Establishment Year</th>
                <th>Multi Year</th>
            </tr>
        </thead>
        <tbody>
            {% for trial in trials %}
            <tr draggable="true">
                <td>
                    <a class="row-link" href="">
                        {{ trial.name }}
                    </a>
                </td>
                <td>
                    <a class="row-link" href="">
                        {{ trial.location_id }}
                    </a>
                </td>
                <td>
                    <a class="row-link" href="{% url 'resources:person_detail' trial.manager_id.slug %}">
                        {{ trial.manager_id }}
                    </a>
                </td>
                <td>
                    <a class="row-link" href="{% url 'resources:organization_detail' trial.affiliation_id.slug %}">
                        {{ trial.affiliation_id }}
                    </a>
                </td>
                <td>
                    <a>
                        {{ trial.establishment_year }}
                    </a>
                </td>
                <td>
                    <a>
                        {{ trial.multi_year }}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="container justify-content-center">
    <p class="text-center">
        <em>
            Don't see your trial listed here?
        </em>
    </p>
</div>
<div class="d-flex justify-content-center">
    <a class="btn btn-secondary align-items-center" href="{% url 'data_storage:create_trial' %}">
        Create New Trial
    </a>
</div>
{% endblock %}
