{% extends "base.html" %}

{% block title %}Field Trial Logbook{% endblock %}

{% block content %}
<div class="container">
    <h1>
        Field Trial Logbook
    </h1>
    <p>    
        Use this form to log any major field work you have completed in your trial.
    </p>
    <iframe class="airtable-embed" src="https://airtable.com/embed/app3wu7LS5JznrMDm/paghFGGEEFqG1cfjm/form" frameborder="0" onmousewheel="" width="100%" height="1300" style="background: transparent; border: 1px solid #ccc;"></iframe>
</div>
{% endblock %}