{% extends "base.html" %}

{% block title %}States and Locations{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-3">
        {{ location.name }}
    </div>
    <div class="col-md-3">
        {{ location.type }}
    </div>
    <div class="col-md-3">
        {{ location.latitude }}
    </div>
    <div class="col-md-3">
        {{ location.longitude }}
    </div>
</div>

{% if sent %}
    <h1>Email successfully sent</h1>
    <p>
        An email with the subject "{{ form.cleaned_data.subject }}" was sent to {{ form.cleaned_data.to }}.
    </p>
{% else %}
    <h1>Send a quick message to your colleagues</h1>
    <form method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit" value="Send email">
    </form>
{% endif %}
{% endblock %}
