{% extends "base.html" %}

{% block title %}List SOPs{% endblock %}

{% block content %}
<div class="container">
    <h1>
        Standard Operating Procedures
    </h1>
    <p>
        Lorem ipsum odor amet, consectetuer adipiscing elit. Platea erat est sem vitae odio cras malesuada conubia consectetur. Ipsum sit fusce faucibus malesuada aliquam eu mollis. Senectus nulla facilisis metus feugiat augue. Quam taciti eleifend litora volutpat eu placerat iaculis nulla. Felis fames quis ligula congue potenti conubia. Faucibus pretium egestas maximus vestibulum finibus vivamus leo. Metus turpis sodales facilisi vehicula primis. Nisi torquent quis lectus urna nam finibus per.
    </p>
    <div class="container-fluid">
        <img src="https://picsum.photos/600/300" class="img-fluid">
    </div>
    <img >
    <p>    
        Posuere felis pellentesque nostra odio tellus sit. Lacinia mattis molestie metus nostra; ad ac varius fermentum. Sagittis hendrerit senectus justo vestibulum pharetra pulvinar lacinia. Facilisi suscipit euismod vehicula senectus arcu, faucibus ac. Accumsan tellus a, cras dictum ullamcorper nam ornare fermentum. Montes rutrum vehicula augue nulla cras vulputate. Dui rhoncus per fames himenaeos faucibus; ligula interdum dui. Facilisis aliquet commodo felis mattis; facilisis blandit? Amet phasellus parturient auctor euismod egestas pharetra.
    </p>
    <h2>
        SOP description and download
    </h2>
    <table class="table table-dark">
        <tr>
            <th>SOP Name</th>
            <th>Version</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>
                <a class="link-light" href="https://zenodo.org/records/10520249/files/TLI_PLP_10041247_sainfoin_cloning.pdf?download=1" download>
                    Maize plant height
                </a>
            </td>
            <td>1.1</td>
            <td>Measuring the height of a corn plant in cm.</td>
        </tr>
        <tr>
            <td>
                <a class="link-light" href="https://zenodo.org/records/10009905/files/TLI_PLP_8412413_sop_creation_policies.pdf?download=1" download>
                    PGC plot image acquisition
                </a>
            </td>
            <td>1.3</td>
            <td>How to take great PGC plot images for coverage predictions</td>
        </tr>
        <tr>
            <td>
                <a class="link-light" href="https://zenodo.org/records/10520249/files/TLI_PLP_10041247_sainfoin_cloning.pdf?download=1" download>
                    LI-COR gas collar installation
                </a>
            </td>
            <td>0.2</td>
            <td>Gas collar installation methodologies</td>
        </tr>
        <tr>
            <td>
                <a class="link-light" href="https://zenodo.org/records/10009905/files/TLI_PLP_8412413_sop_creation_policies.pdf?download=1" download>
                    PGC aboveground biomass measurement
                </a>
            </td>
            <td>1.3</td>
            <td>Estimating the aboveground PGC biomass from an ROI</td>
        </tr>

    </table>
</div>
{% endblock %}
