<!-- templates/base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}PGC Consortium{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">PGC Consortium</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                <ul class="navbar-nav me-auto"> <!-- Added ms-auto to align items to the right -->
                    <li class="nav-item dropdown">
                        <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            Ontology
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li>
                                <a class="dropdown-item" href="{% url 'ontology:list_variables' %}">
                                    <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-diagram-3" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M6 3.5A1.5 1.5 0 0 1 7.5 2h1A1.5 1.5 0 0 1 10 3.5v1A1.5 1.5 0 0 1 8.5 6v1H14a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-1 0V8h-5v.5a.5.5 0 0 1-1 0V8h-5v.5a.5.5 0 0 1-1 0v-1A.5.5 0 0 1 2 7h5.5V6A1.5 1.5 0 0 1 6 4.5zM8.5 5a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5zM0 11.5A1.5 1.5 0 0 1 1.5 10h1A1.5 1.5 0 0 1 4 11.5v1A1.5 1.5 0 0 1 2.5 14h-1A1.5 1.5 0 0 1 0 12.5zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm4.5.5A1.5 1.5 0 0 1 7.5 10h1a1.5 1.5 0 0 1 1.5 1.5v1A1.5 1.5 0 0 1 8.5 14h-1A1.5 1.5 0 0 1 6 12.5zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm4.5.5a1.5 1.5 0 0 1 1.5-1.5h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5z"/>
                                    </svg> -->
                                    <i class="fa-solid fa-circle-nodes"></i>
                                    Variables
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'ontology:manage_ontology' %}">
                                    <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list-check" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5M3.854 2.146a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 3.293l1.146-1.147a.5.5 0 0 1 .708 0m0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 7.293l1.146-1.147a.5.5 0 0 1 .708 0m0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0"/>
                                    </svg> -->
                                    <i class="fa-solid fa-list-check"></i>
                                    Manage Terms
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'ontology:import_ontology' %}">
                                    <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-arrow-up-fill" viewBox="0 0 16 16">
                                        <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1M6.354 9.854a.5.5 0 0 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 8.707V12.5a.5.5 0 0 1-1 0V8.707z"/>
                                    </svg> -->
                                    <i class="fa-solid fa-file-arrow-up"></i>
                                    Import Terms
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'ontology:list_sop' %}">
                                    <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-files" viewBox="0 0 16 16">
                                        <path d="M13 0H6a2 2 0 0 0-2 2 2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2 2 2 0 0 0 2-2V2a2 2 0 0 0-2-2m0 13V4a2 2 0 0 0-2-2H5a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1M3 4a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1z"/>
                                    </svg> -->
                                    <i class="fa-solid fa-folder-tree"></i>
                                    Data Collection SOPs
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            Field Management
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li>
                                <a class="dropdown-item" href="{% url 'data_storage:list_trials' %}">
                                    <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-grid-3x3-gap-fill" viewBox="0 0 16 16">
                                        <path d="M1 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1zM1 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1zM1 12a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1z"/>
                                      </svg> -->
                                      <i class="fa-solid fa-border-none"></i>
                                    Field Trials
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'data_storage:list_plots' %}">
                                    <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-square-fill" viewBox="0 0 16 16">
                                        <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2z"/>
                                    </svg> -->
                                    <i class="fa-solid fa-square"></i>
                                    Plots
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'data_storage:list_locations' %}">
                                    <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-map-fill" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.598-.49L10.5.99 5.598.01a.5.5 0 0 0-.196 0l-5 1A.5.5 0 0 0 0 1.5v14a.5.5 0 0 0 .598.49l4.902-.98 4.902.98a.5.5 0 0 0 .196 0l5-1A.5.5 0 0 0 16 14.5zM5 14.09V1.11l.5-.1.5.1v12.98l-.402-.08a.5.5 0 0 0-.196 0zm5 .8V1.91l.402.08a.5.5 0 0 0 .196 0L11 1.91v12.98l-.5.1z"/>
                                    </svg> -->
                                    <i class="fa-solid fa-map-location-dot"></i>
                                    Maps
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            Data Management
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li>
                                <a class="dropdown-item" href="{% url 'data_storage:view_data' %}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-table" viewBox="0 0 16 16">
                                        <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm15 2h-4v3h4zm0 4h-4v3h4zm0 4h-4v3h3a1 1 0 0 0 1-1zm-5 3v-3H6v3zm-5 0v-3H1v2a1 1 0 0 0 1 1zm-4-4h4V8H1zm0-4h4V4H1zm5-3v3h4V4zm4 4H6v3h4z"/>
                                    </svg>
                                    Observations
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'data_storage:analyze_data' %}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bar-chart-steps" viewBox="0 0 16 16">
                                        <path d="M.5 0a.5.5 0 0 1 .5.5v15a.5.5 0 0 1-1 0V.5A.5.5 0 0 1 .5 0M2 1.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-4a.5.5 0 0 1-.5-.5zm2 4a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5zm2 4a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1-.5-.5zm2 4a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5z"/>
                                    </svg>
                                    Insights and Analysis
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'data_storage:analyze_data' %}">
                                    <i class="fa-solid fa-seedling"></i>
                                    Germplasm
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            Imaging
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li>
                                <a class="dropdown-item" href="{% url 'imaging:list_models' %}">
                                    <!-- <i class="fa-brands fa-buromobelexperte"></i> -->
                                    <i class="fa-solid fa-cubes"></i>
                                    Models
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'imaging:manage_images' %}">
                                    <i class="fa-solid fa-images"></i>
                                    Images
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'imaging:view_output' %}">
                                    <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bounding-box" viewBox="0 0 16 16">
                                        <path d="M5 2V0H0v5h2v6H0v5h5v-2h6v2h5v-5h-2V5h2V0h-5v2zm6 1v2h2v6h-2v2H5v-2H3V5h2V3zm1-2h3v3h-3zm3 11v3h-3v-3zM4 15H1v-3h3zM1 4V1h3v3z"/>
                                    </svg> -->
                                    <!-- <i class="fa-brands fa-deezer"></i> -->
                                    <i class="fa-regular fa-object-group"></i>
                                    <!-- <i class="fa-regular fa-object-ungroup"></i> -->
                                    Outputs
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            Resources
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li>
                                <a class="dropdown-item" href="{% url 'resources:list_organizations' %}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-buildings-fill" viewBox="0 0 16 16">
                                        <path d="M15 .5a.5.5 0 0 0-.724-.447l-8 4A.5.5 0 0 0 6 4.5v3.14L.342 9.526A.5.5 0 0 0 0 10v5.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V14h1v1.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5zM2 11h1v1H2zm2 0h1v1H4zm-1 2v1H2v-1zm1 0h1v1H4zm9-10v1h-1V3zM8 5h1v1H8zm1 2v1H8V7zM8 9h1v1H8zm2 0h1v1h-1zm-1 2v1H8v-1zm1 0h1v1h-1zm3-2v1h-1V9zm-1 2h1v1h-1zm-2-4h1v1h-1zm3 0v1h-1V7zm-2-2v1h-1V5zm1 0h1v1h-1z"/>
                                    </svg>
                                    Organizations
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'resources:manage_projects' %}">
                                    <i class="fa-solid fa-bars-progress"></i>
                                    Projects
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'resources:list_addresses' %}">
                                    <i class="fa-solid fa-address-book"></i>
                                    Address Book
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'resources:list_people' %}">
                                    <i class="fa-solid fa-user-group"></i>
                                    People
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'resources:contact_us' %}">
                                    <i class="fa-solid fa-paper-plane"></i>
                                    Contact us
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'resources:resource_index' %}">
                                    <i class="fa-solid fa-file-lines"></i>
                                    Docs
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'resources:resource_index' %}">
                                    <i class="fa-solid fa-code"></i>
                                    API Reference
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <button id="theme-switcher" class="btn btn-outline-light">
                    Switch Theme
                </button>
            </div>
        </div>
    </nav>

    <div class="d-flex">
        <main class="flex-grow-1 p-3">
            {% block content %}
            {% endblock %}
        </main>
    </div>

    <div class="w-100">
        <footer class="fixed-bottom py-2 my-0 bg-dark">
          <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item">
                <a href="{% url 'resources:resource_index' %}" class="nav-link link-light px-2 text-body-primary">
                    Home
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'resources:resource_index' %}" class="nav-link link-light px-2 text-body-primary">
                    Features
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'resources:resource_index' %}" class="nav-link link-light px-2 text-body-primary">
                    FAQs
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'resources:resource_index' %}" class="nav-link link-light px-2 text-body-primary">
                    About
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'resources:contact_us' %}" class="nav-link link-light px-2 text-body-primary">
                    Contact
                </a>
            </li>
          </ul>
          <p class="text-center navbar-dark navbar-brand">&copy; 2024 PGC Consortium</p>
        </footer>
      </div>

    <script>
        const switcher = document.getElementById('theme-switcher');
        const currentTheme = localStorage.getItem('theme') || 'light';
        const table = document.getElementById('table-theme')
        const row_links = document.getElementsByClassName("row-link")

        document.documentElement.setAttribute('data-theme', currentTheme);
        
        // Modify tables
        if (table) {
            console.log(table)
            if (currentTheme === 'light'){
                table.classList.add('table-light')
            } else {
                table.classList.add('table-dark')
            }
        }

        if (row_links.length > 0){
            if (currentTheme === 'light'){
                for (link of row_links){
                    link.classList.add('link-dark')
                }
            } else {
                for (link of row_links){
                    link.classList.add('link-light')
                }
            }
        }

        switcher.textContent = currentTheme === 'light' ? 'Dark Mode' : 'Light Mode';

        switcher.addEventListener('click', function() {
            let theme = document.documentElement.getAttribute('data-theme') === 'light' ? 'dark' : 'light';
            document.documentElement.setAttribute('data-theme', theme);
            localStorage.setItem('theme', theme);
            switcher.textContent = theme === 'light' ? 'Dark Mode' : 'Light Mode';

            // handle tables
            if (table){
                console.log(table)
                if (theme === 'light'){
                    table.classList.replace('table-dark', 'table-light');
                } else {
                    table.classList.replace('table-light', 'table-dark')
                }
            }

            // Handle row links
            if (row_links){
                if (theme === 'light'){
                    for (link of row_links){
                        link.classList.replace('link-light', 'link-dark')
                    }
                } else {
                    for (link of row_links){
                        link.classList.replace('link-dark', 'link-light')
                    }
                }
            }

            if (theme == 'light') {
                switcher.classList.replace('btn-outline-dark', 'btn-outline-light');
            } else {
                switcher.classList.replace('btn-outline-light', 'btn-outline-dark');
            }   
        });
    </script>
</body>
</html>